<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>binaryCounter.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3B6493D91F15F26700E4F93E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3B6493ED1F15F26800E4F93E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3B6493F81F15F26800E4F93E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
